/* ==== Modifiers ==== */

.selected {
    color: $primary;
    text-style: bold;
}

FooterKey:hover {
    background: $hover-background;
    color: $hover-foreground;
    .footer-key--key {
        background: $hover-background;
    }
}
